.cards-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:985px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid $color3;
        border-radius: 5px;
        transition: 0.2s;
        &:active {
            transform: scale(98%);
        }
        &:hover {
            cursor: pointer;
            transform: scale(102%);
        }
        h4 {
            font-size: 1.5rem;
            margin-bottom: 5px;
            color: $color2;
        }
        img {
            width: 350px; 
        }
    }
}