@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

$color1: #e9e7e3;
$color2: #25764f;
$color3: #F97B22;

* {
    font-family: 'Gruppo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body {
        background: $color1;
        overflow-x: hidden;
    }
}